<h1>New Article</h1>
<!-- We call the helper method form_for, which gets stored as an object in |f| -->
<!-- :article is being passed into form_for -->
<!-- url: is an option being passed to form_for -->
<%= render 'form' %>
